.homeHero {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: 0 80%;
}

.heroText {
    position: relative;
    font-family: 'Yuji Mai', serif;
    font-size: xx-large;
    bottom: 50px;
}

.vanImage {
    width: 100%;
}

.homeText {
    margin-top: 2%;
}

.App-title {
    font-family: 'theHound';
    font-size: 96px;
    line-height: 96px;
}

.btn {
    font-size: 40px;
}

.serviceCont {
    background-color: #179e73;
}

.serviceHead {
    font-family: 'theHound';
}

.serviceList {
    font-family: 'theHound';
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 20px;
}

.list1 {
    text-align: start;
}

.list2 {
    text-align: end;
}

.specText {
    font-size: 17px;
}

@media screen and (max-width: 1024px) {
    .App-title {
        font-family: 'theHound';
        font-size: 70px;
        line-height: 70px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .App-title {
        font-family: 'theHound';
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 18px;
    }

    .btn {
        font-size: 20px;
    } 
}

@media screen and (max-width: 414px) {
    .App-title {
        font-family: 'theHound';
        font-size: 27px;
        line-height: 27px;
        padding-bottom: 12px;
    }

    .btn {
        font-size: 15px;
    } 
}